<header>
  <h1><span class="typing"></span></br> Your backend is broken.</h1>
  <p class="intro">
    We introduce <code>webspicy</code>, a technology-agnostic test
    framework that yields better coverage for smaller testing effort.
    Because software quality matters.
  </p>
</header>
<p class="call-to-action">
  <a class="btn" href="+{page_prefix}/tutorial.html">See it in action</a>
</p>
<script>
  (function() {
    var typed = new Typed('.typing', {
      strings: ["Developer,^3000", "CTO,^3000", "Q&amp;A,^3000"],
      typeSpeed: 100,
      loop: true,
      // cursorChar: ''
    });
  })();
</script>
