<nav class="tutorial-nav">
  <ul>
    <li>
      <a class="btn step-0" href="+{page_prefix}tutorial/step-0.html">Intro</a>
    </li>
    <li>
      <a class="btn step-1" href="+{page_prefix}tutorial/step-1.html">Step 1</a>
    </li>
    <li>
      <a class="btn step-2" href="+{page_prefix}tutorial/step-2.html">Step 2</a>
    </li>
    <li>
      <a class="btn step-3" href="+{page_prefix}tutorial/step-3.html">Step 3</a>
    </li>
    <li>
      <a class="btn step-4" href="+{page_prefix}tutorial/step-4.html">Step 4</a>
    </li>
    <li>
      <a class="btn step-5" href="+{page_prefix}tutorial/step-5.html">Step 5</a>
    </li>
    <li>
      <a class="btn step-6" href="+{page_prefix}tutorial/step-6.html">Step 6</a>
    </li>
    <li>
      <a class="btn step-7" href="+{page_prefix}tutorial/step-7.html">Step 7</a>
    </li>
  </ul>
</nav>
