<nav class="main-nav">
  <a class="index" href="+{page_prefix}index.html">Home</a>
  <a class="features" href="+{page_prefix}features.html">Features</a>
  <a class="tutorial" href="+{page_prefix}tutorial.html">Tutorial</a>
  <a class="get-our-help" href="+{page_prefix}get-our-help.html">Get our help</a>
  <a class="extra-goodies" href="+{page_prefix}extra-goodies.html">Extra goodies</a>
  <a class="why" href="+{page_prefix}why.html">Manifesto</a>
  <a class="about" href="+{page_prefix}about.html">About</a>
  <div class="left nomobile">
    !{partials/logo}
    <a class="github" href="https://github.com/enspirit/yourbackendisbroken.dev" target="_blank">
      <img src="../../assets/GitHub-Mark-Light-64px.png"/>
    </a>
  </div>
</nav>
