<input type="checkbox" id="toggle-main-nav" class="nodesktop">
<label class="menu-icon" for="toggle-main-nav" class="nodesktop">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</label>
<nav class="main-nav">
  <a class="index" href="+{page_prefix}index.html">Home</a>
  <a class="features" href="+{page_prefix}features.html">Features</a>
  <a class="tutorial" href="+{page_prefix}tutorial.html">Tutorial</a>
  <a class="get-our-help" href="+{page_prefix}get-our-help.html">Get our help</a>
  <a class="why" href="+{page_prefix}why.html">Manifesto</a>
  <a class="about" href="+{page_prefix}about.html">About</a>
  <div class="left">
    !{partials/logo}
  </div>
</nav>
