:root {
  background-color: $dark-background;
  color: $text-color;
  --transition-delay: .25s;
}

html,
body {
  font-size: 14px;
  font-family: $text-font;
  color: $text-color;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 80px;
}

h1,
h2,
h3 {
  font-family: $heading-font;
  padding: 10px 0;
  margin: 1em 0;
  letter-spacing: 1px;
  code {
    font-family: $heading-font;
  }
}
h1 {
  font-size: 2.5em;
  margin-top: 0;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
  color: $grey-heading;
}

details,
p,
li,
input,
a {
  font-family: $text-font;
  font-size: 13pt;
}

p,
li {
  margin-bottom: 5px;
}

header,
section,
footer {
  text-align: center;
}
.footer {
  width: 100%;
  padding-bottom: 30px;

  .terms-privacy {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    a, a:visited, a:hover {
      color: white;
      letter-spacing: initial;
      font-size: 10pt;
    }
    p {
      font-size: 10pt;
      padding: 0px 15px;
    }
    p + p {
      border-left: 1px solid white;
    }
  }
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0px 20px;
  text-align: center;
  background-color: $darker-background;
  color: white;
  border-bottom-left-radius: 10px;
  font-size: 1.4em;
  z-index: 10; // above pre code blocks
  display: flex;
  justify-content: center;
  > a,
  > a:visited {
    font-family: $text-font;
    padding: 20px 0px;
    margin: 0 10px;
    color: white;
    border-bottom: 4px solid transparent;
  }
  > a:hover {
    color: $main-color;
    cursor: pointer;
  }
  .left {
    display: flex;
    position: absolute;
    right: 0;
    padding: 19px 20px;

    .logo {
      padding-right: 20px;
      svg {
        width: 30px;
        fill: white;
      }
    }
    .github {
      img {
        width: 30px;
      }
    }
  }
}

@mixin active-nav {
  border-bottom: 4px solid $main-color;
  &:hover {
    border-bottom-color: $main-color;
  }
}

@mixin active-nav-tuto {
  border: 3px solid $second-color;
  @media (max-width: 1023px) {
    border-color: transparent;
    &:before {
      background-color: white !important;
      bottom: 30px !important;
    }
  }
}

a,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: $second-color;
  font-family: $text-font;
  font-weight: bold;
}

code {
  font-family: $code-font;
  font-size: 1em;
  color: $third-color;
  position: relative;
  background-color: white;
  padding: 0px 5px 2px 5px;
  border-radius: 8px;
}

.btn {
  font-weight: bold;
  background: $main-color;
  color: white !important;
  border-radius: 30px;
  outline: none;
  transition: background-color var(--transition-delay), color var(--transition-delay);
  &.no-border {
    border: none;
  }
  &.small {
    padding: 10px 15px;
  }
  &:hover {
    cursor: pointer;
    background-color: white;
    color: $main-color !important;
    transition: background-color var(--transition-delay), color var(--transition-delay);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  > li {
    padding: 5px 0;
  }
}

.hide {
  display: none;
}

input:not([type="submit"]) {
  padding: 10px 15px;
  background: white;
  border-radius: 10px;
  border: none;
  &:focus {
    outline: none;
  }
}

@media (max-width: 1023px) {
  body {
    display: grid;
    grid-template-areas:
      "nav"
      "main"
      "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: calc(100vh - 200px);
  }
  .main-nav {
    grid-area: nav;
    position: relative;
    margin-top: -20px;
  }
  section {
    &:first-of-type {
      grid-area: main;
    }
  }
  footer {
    grid-area: footer;
  }
}
