:root {
  background-color: $dark-background;
  color: $text-color;
  --transition-delay: .4s;
}

html,
body {
  font-size: 14px;
  font-family: $text-font;
  color: $text-color;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 80px;
}

h1,
h2,
h3 {
  font-family: $heading-font;
  padding: 10px 0;
  margin: 1em 0;
  code {
    font-family: $heading-font;
  }
}
h1 {
  font-size: 2.5em;
  margin-top: 0;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
  color: $grey-heading;
}

details,
p,
li,
input {
  font-family: $text-font;
  font-size: 1.25em;
}

p,
li {
  margin-bottom: 5px;
}

header,
section,
footer {
  text-align: center;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 40px;
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0px 20px;
  text-align: center;
  background-color: $darker-background;
  color: white;
  border-bottom-left-radius: 10px;
  font-size: 1.4em;
  z-index: 10; // above pre code blocks
  > a,
  > a:visited {
    font-family: $text-font;
    padding: 20px 0px;
    margin: 0 10px;
    color: white;
  }
  > a:hover {
    color: $main-color;
    cursor: pointer;
  }
}

@mixin active-nav {
  border-bottom: 4px solid $main-color;
  &:hover {
    border-bottom-color: $main-color;
  }
}

a,
a:visited {
  display: inline-block;
  text-decoration: none;
  letter-spacing: -1px;
  color: $main-color;
  font-family: $text-font;
}

code {
  font-family: $code-font;
  font-size: 1em;
  color: $main-color;
  position: relative;
}

.btn {
  background: white;
  color: $main-color;
  border-radius: 10px;
  outline: none;
  border: 3px solid $main-color;
  transition: background-color var(--transition-delay), color var(--transition-delay);
  &.no-border {
    border: none;
  }
  &:hover {
    cursor: pointer;
    background-color: $main-color;
    color: white;
    transition: background-color var(--transition-delay), color var(--transition-delay);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  > li {
    padding: 5px 0;
  }
}

.hide {
  display: none;
}

input:not([type="submit"]) {
  padding: 10px 15px;
  background: white;
  border-radius: 10px;
  border: none;
  &:focus {
    outline: none;
  }
}
