$text-color: #fff;
$grey-heading: lighten($text-color, 10%);
$dark-background: #2C2C42;
$darker-background: #23243B;

$main-color: #5467FE;
$main-color-darken: darken($main-color, 25%);
$bold-color: #4E55FF;
$second-color: #72EADD;

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');
$text-font: 'Montserrat', sans-serif;
$heading-font: 'Alfa Slab One', cursive;
$code-font: 'Montserrat', sans-serif;
