$text-color: #fff;
$grey-heading: lighten($text-color, 10%);
$dark-background: #373644;
$darker-background: darken(#373644, 5%);

$bg-from: lighten(rgba(176,13,201,1), 10%);
$bg-to: lighten(rgba(107,7,122,1), 10%);
$main-color: #5a4afe;
$main-color-darken: darken($main-color, 25%);

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');
$text-font: 'Montserrat', sans-serif;
$heading-font: 'Alfa Slab One', cursive;
$code-font: 'Montserrat', sans-serif;
