@media (max-width: 1023px) {
  html,
  body {
    font-size: 14px;
    padding: 0 15px;
    display: unset;
    &.index {
      header {
        width: 80%;
        margin: 0 auto;
      }
      .news-letter {
        form {
          display: block;
          background-color: transparent;
        }
        input[type="email"] {
          background: $darker-background;
          width: 100%;
          height: 50px;
          margin-bottom: 20px;
        }
      }
      .twitter {
        padding: 10px 20px;
        margin: 20px auto;
      }
      section {
        padding: 20px;
        > * {
          margin: 50px 0;
        }
      }
      h1 {
        font-size: 40pt;
      }
    }
    &.get-our-help {
      .card {
        width: 70%;
        margin-top: 50px;
      }

      .card-3 {
        left: 0;
        top: 130px;
      }
    }
    &.tutorial {
      &:before {
        right: -300;
      }
      section {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 50px;
      }
    }
    &.why {
      &:before {
        opacity: 0.5;
      }
      > section {
        :before {
          opacity: 0.5;
        }
      }
    }
  }
  nav {
    left: 0;
    opacity: 0.9;
    + section {
      padding-top: 100px;
    }
  }
  header {
    padding: 100px 0;
  }
  footer {
    input[type="email"] {
      width: 85%;
    }
  }
  h1 {
    font-size: 2.2em;
  }
  .btn {
    padding: 15px 20px;
  }
  .nomobile {
    display: none !important;
  }
  .main-nav,
  .left-right-cells {
    flex-wrap: wrap;
  }
  .footer {
    .btn {
      margin: 50px auto;
    }
  }
}

@media (max-width: 500px) {
  .tutorials {
    &-footer {
      .btn {
        &.prev,
        &.next {
          visibility: hidden;
          width: 25px;
          &:before {
            font-size: 20pt;
            visibility: visible;
            content: ">";
          }
        }
        &.prev {
          &::before {
            content: "<";
          }
        }
      }
    }
  }
  body.extra-goodies {
    &::before {
      width: 400px;
      top: 50px;
    }
  }
}


@media (min-width: 1024px) {
  .nodesktop {
    display: none;
  }
  header {
    padding: 300px 0 250px 0;
  }
  section {
    max-width: 1280px;
    padding: 280px 20px 50px 20px;
    margin: auto;
  }
  footer {
    input[type="email"] {
      width: 350px;
    }
  }
  .btn {
    padding: 20px 80px;
  }
}
