@mixin square {
  content: "";
  display: block;
  position: fixed;
  transform: rotate(45deg);
  transform-origin: center;
  background: $bg-from;
  background: -webkit-linear-gradient(top, $bg-from 0%, $bg-to 100%);
  background: linear-gradient(to bottom, $bg-from 0%, $bg-to 100%);
  border-radius: 50px;
  z-index: -1;
}

@mixin bottom-square {
  @include square;
  top: 50%;
  left: 50%;
  margin-left: -800px;
  margin-top: 300px;
  width: 1600px;
  height: 1600px;
}

@mixin top-left-square {
  @include square;
  top: 50%;
  left: 50%;
  margin-left: -930px;
  margin-top: -1250px;
  width: 1200px;
  height: 1200px;
}

@mixin bottom-right-square {
  @include square;
  top: 50%;
  left: 50%;
  margin-left: 0px;
  margin-top: 0px;
  width: 1200px;
  height: 1200px;
}

@mixin top-middle-square {
  @include square;
  top: 50%;
  left: 50%;
  margin-left: -800px;
  margin-top: -1200px;
  width: 1600px;
  height: 1600px;
}