body.features {

  &::before {
    content: "";
    width: 800px;
    height: 800px;
    mask: url(../../assets/circle.svg) no-repeat center;
    -webkit-mask: url(../../assets/circle.svg) no-repeat center;
    position: fixed;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    background: linear-gradient(45deg, $third-color 35%, $fifth-color 70%);
  }

  nav > a.features {
    @include active-nav;
  }

  section {
    padding: 100px 20px;

    .left-right-cells {
      margin-bottom: 0;
      .card {
        box-shadow: 0 0 10px 3px rgba(5, 5, 5, .5);
        border-radius: 5px;
        width: 320px;
        height: 225px;
        background-color: $dark-background;
        margin: 10px;
        ul {
          padding-left: 15px;
          text-align: left;
          li::before {
            content: "\2014 ";
            color: $third-color;
            padding-right: 10px;
          }
        }
      }
    }
    p.button {
      margin-top: 100px;
    }
  }
}
