body.index,
body.waiting {
  &:before {
    @include bottom-square;
  }
  h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: $grey-heading;
  }
}
body.index {
  nav > a.index {
    @include active-nav;
  }
  footer {
    padding-bottom: 340px;
  }
}
