body.index {

  &::before {
    content: "";
    width: 800px;
    height: 800px;
    mask: url(../../assets/circle.svg) no-repeat center;
    -webkit-mask: url(../../assets/circle.svg) no-repeat center;
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
    background: linear-gradient(45deg, $fourth-color 35%, $fifth-color 70%);
  }

  nav > a.index {
    @include active-nav;
  }

  header {
    width: 40%;
    margin-left: 25%;
    padding: 0px;
    padding-top: 140px;
    text-align: left;

    h1 {
      font-size: 50pt;
      margin-bottom: 32pt;
    }

    h2 {
      font-size: 1.2em;
      font-weight: normal;
      color: $grey-heading;
    }

    p.intro {
      line-height: 28pt;
    }
  }

  p.call-to-action {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  section {
    padding: 80px;
    padding-bottom: 40px;

    span {
      font-weight: bold;
      color: $bold-color;
    }

    .news-letter {
      width: max-content;
      margin: auto;
      padding: 20px;

      form {
        display: flex;
        width: max-content;
        background: $darker-background;
        border-radius: 30px;
        padding: 5px;
        padding-left: 10px;
      }
      input[type="email"] {
        height: 100%;
        width: 360px;
        background: transparent;
        color: $text-color;
      }
      ::placeholder {
        color: $text-color;
        opacity: 1;
      }

      .btn {
        padding: 15px 30px;
      }
    }

    .twitter {
      display: flex;
      margin: 27px auto;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 35px;
      width: max-content;
      padding: 10px 144px;
      a, a:visited {
        height: 20px;
        background-color: initial;
        color: $text-color;
        padding: 10px;
      }
      .logo {
        margin: auto 0px;
        a {
          height: auto;
          padding: 0px 10px;
          &.github {
            display: none;
          }
        }
        svg {
          width: 30px;
          fill: $text-color;
        }
      }
    }

  }
}

@media (max-width: 1023px) {
  body.index {
    section {
      .news-letter {
        padding: 0;
        form {
          background: unset;
          border-radius: unset;
          flex-direction: column;
          > div:first-of-type {
            padding: 5px 10px;
            margin-bottom: 10px;
            background: #23243B;
            border-radius: 30px;
            input[type="email"] {
              margin: 0;
              width: unset;
            }
          }
        }
      }
      .twitter {
        padding: 10px 30px;
      }
    }
  }
}
