body.step-8 {
  .tutorial-nav a.step-8 {
    @include active-nav-tuto;
  }
  .tutorials {
    &-footer {
      .next {
        pointer-events: none;
        background-color: lighten($dark-background, 20%);
        opacity: .5;
      }
    }
  }
}
