body.tutorial {
  nav > a.tutorial {
    @include active-nav;
  }

  &::before {
    content: "";
    width: 600px;
    height: 600px;
    mask: url(../../assets/circle.svg) no-repeat center;
    -webkit-mask: url(../../assets/circle.svg) no-repeat center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
    background: linear-gradient(45deg, $third-color 35%, $second-color 70%);
  }

  section {
    margin: auto 15%;
    height: calc(100vh - 375px);
    text-align: left;
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    grid-template-areas:
      "h1 video"
      "list list";
  }

  h1 {
    grid-area: h1;
    font-size: 50px;
    margin: auto;
    span {
      color: $second-color;
    }
  }

  .video-responsive {
    grid-area: video;
    overflow: hidden;
    position: relative;
    width:100%;
    min-width: 560;
    &::after {
      padding-top: 56.25%;
      display: block;
      content: '';
    }
    iframe {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
  }

  ol {
    grid-area: list;
    text-align: center;
    font-size: 1.6em;
    padding-top: 50px;
    > li {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 1023px) {
  body.tutorial {
    &::before {
      width: 100%;
    }
    section {
      height: auto;
      grid-template-areas:
        "h1"
        "video"
        "list";
    }
    .video-responsive {
      min-width: revert;
      margin-bottom: 50px;
    }
  }
}
