.tutorials {
  padding: 100px 20px;
  display: grid;
  grid-template-areas:
    "tutorial-nav tutorial-main"
    "tutorial-nav tutorial-footer";
  grid-template-columns: 2fr 10fr;
  &-nav {
    grid-area: tutorial-nav;
    text-align: left;
    position: fixed;
    a,
    a:visited {
      color: $main-color;
    }

    a:hover {
      color: $main-color-darken;
    }
  }
  &-main {
    grid-area: tutorial-main;
    text-align: left;
  }
  &-footer {
    grid-area: tutorial-footer;
  }
}

.step-0,
.step-1,
.step-2 {
  nav > a.tutorial {
    @include active-nav;
  }
}

pre code {
  background-color: whitesmoke;
  color: $dark-background;
  width: 90%;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 10px 0;
}

footer.tutorials-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30;
  .next {
    margin-left: auto;
  }
  .btn {
    border-color: lighten($dark-background, 25%);
  }
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
  &:hover {
    cursor: pointer;
  }
}

details[open] {
  background-color: lighten($dark-background, 33%);
  border-left: 10px solid lighten($dark-background, 25%);
  padding: 20px 10px;
  padding-left: 37px;
  summary {
    margin-left: -37px;
  }
}

details[open] summary {
  margin-bottom: .5em;
}

details {
  padding: 20px;
  border-bottom: 1px solid lighten($dark-background, 25%);
  &:first-of-type {
    border-top: 1px solid lighten($dark-background, 25%);
  }
}
