.tutorials {
  padding: 100px 20px;
  display: grid;
  grid-template-areas:
    "tutorial-main"
    "tutorial-nav"
    "tutorial-footer";
  &-nav {
    grid-area: tutorial-nav;
    text-align: left;
    a,
    a:visited {
      color: white;
      width: 50%;
      white-space: nowrap;
    }

    a:hover {
      color: $main-color;
    }
  }
  &-main {
    grid-area: tutorial-main;
    text-align: left;
    margin-bottom: 100px;
    h2 {
      margin-top: 3em;
      &:first-of-type {
        margin-top: 1em;
      }
    }
    p {
      margin: 15px 0;
    }
  }
  &-footer {
    grid-area: tutorial-footer;
    background-color: $bold-color;
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    &::before {
      content: "";
      width: calc(100% + 20px);
      height: 100%;
      margin-left: -20px;
      background-color: $bold-color;
      position: absolute;
    }
    * {
      z-index: 1; // above :before
    }
    .tutorial-nav {
      ul {
        display: flex;
        margin: auto;
        justify-content: center;
        li {
          padding: 0;
          margin: 0;
        }
      }
    }
    .btn {
      background-color: transparent;
      border: 3px solid transparent;
      color: white;
      font-weight: bold;
      padding: 5px 10px;
      margin: 15px;
      &.next,
      &.prev {
        background-color: $dark-background;
        color: white;
        &:hover {
          background-color: $bold-color;
        }
      }
    }
  }

  summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }

  details[open] {
    background-color: lighten($dark-background, 33%);
    border-left: 10px solid lighten($dark-background, 25%);
    padding: 20px 10px;
    padding-left: 37px;
    summary {
      margin-left: -37px;
    }
  }

  summary {
    margin-bottom: .5em;
  }

  details {
    padding: 20px;
    border-bottom: 1px solid lighten($dark-background, 25%);
    &:first-of-type {
      border-top: 1px solid lighten($dark-background, 25%);
    }
  }

  pre code {
    background-color: whitesmoke;
    color: $dark-background;
    width: calc(100% - 30px);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 15px 0;
    overflow: hidden;
    font-size: 1.25em;
    &:hover {
      &:after {
        content: "Copy";
        position: absolute;
        right: 0;
        top: -1px;
        background-color: lighten($dark-background, 20%);
        color: white;
        padding: 3px 6px;
        cursor: pointer;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}

.step-0,
.step-1,
.step-2,
.step-3 {
  nav > a.tutorial {
    @include active-nav;
  }
}

footer.tutorials-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30;
}

body.step-0 {
  .tutorials {
    &-footer {
      &::before {
        width: calc(100% + 30px);
      }
      .prev {
        visibility: hidden;
      }
    }
  }
}

@media (max-width: 1023px) {
  .tutorials {
    padding: 50px 0;
    &-footer {
      > * {
        flex: 0 1 auto;
      }
      .tutorial-nav {
        ul {
          justify-content: space-evenly;
          li {
            width: 30px;
            a.btn {
              visibility: hidden;
              padding: 5px 10px;
              position: relative;
              height: 100%;
              margin: 0;
              &::before {
                content: "\A";
                visibility: visible;
                position: absolute;
                bottom: 30px;
                width:10px;
                height:10px;
                border-radius:50%;
                background: black;
                display:inline-block;
              }
            }
            &:hover {
              a.btn {
                visibility: visible;
                margin-top: 1px;
                margin-left: -10px;
                width: max-content;
                &:before {
                  bottom: 31px !important;
                  left: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
