body.waiting {
  nav > a.waiting {
    @include active-nav;
  }
  footer {
    p {
      color: white;
      max-width: 500px;
      margin: 20px auto;
    }
    input[type="submit"] {
      display: inline-block;
      margin-top: 20px;
    }
  }
}
