body.why {
  nav > a.why {
    @include active-nav;
  }
  section {
    padding-top: 100px;
    max-width: 800px;
    margin: 0 auto;
    h1 {
      margin-bottom: 1em;
    }
    h2 {
      margin: 1.5em 0 1em;
    }
    ol, ul {
      margin: 1em 0;
      > li {
        margin: 0.6em;
      }
    }
  }
}
